<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServ</servlet-name>
        <servlet-class>loginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeniorJobDel</servlet-name>
        <servlet-class>SeniorJobDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newServ</servlet-name>
        <servlet-class>newServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTutorial</servlet-name>
        <servlet-class>EditTutorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditGallery</servlet-name>
        <servlet-class>EditGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>galleryServ</servlet-name>
        <servlet-class>galleryServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadTutServ</servlet-name>
        <servlet-class>downloadTutServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>projectServ</servlet-name>
        <servlet-class>projectServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deptServ</servlet-name>
        <servlet-class>deptServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>picServ</servlet-name>
        <servlet-class>picServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDept</servlet-name>
        <servlet-class>EditDept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeptDel</servlet-name>
        <servlet-class>DeptDel.DeptDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeptDel1</servlet-name>
        <servlet-class>DeptDel1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCat</servlet-name>
        <servlet-class>EditCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDel</servlet-name>
        <servlet-class>StaffDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaff</servlet-name>
        <servlet-class>EditStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatDel</servlet-name>
        <servlet-class>CatDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subjServ</servlet-name>
        <servlet-class>subjServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowNews</servlet-name>
        <servlet-class>ShowNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProject</servlet-name>
        <servlet-class>EditProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectDel</servlet-name>
        <servlet-class>ProjectDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addjobServ</servlet-name>
        <servlet-class>addjobServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showGallery</servlet-name>
        <servlet-class>showGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testsignup</servlet-name>
        <servlet-class>testsignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAlbam</servlet-name>
        <servlet-class>showAlbam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eventServ</servlet-name>
        <servlet-class>eventServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>albumServ</servlet-name>
        <servlet-class>albumServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAlbum</servlet-name>
        <servlet-class>EditAlbum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEvent</servlet-name>
        <servlet-class>EditEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlbumDel</servlet-name>
        <servlet-class>AlbumDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventDel</servlet-name>
        <servlet-class>EventDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadProServ</servlet-name>
        <servlet-class>downloadProServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditJobs</servlet-name>
        <servlet-class>EditJobs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobDel</servlet-name>
        <servlet-class>JobDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNews</servlet-name>
        <servlet-class>EditNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewDel</servlet-name>
        <servlet-class>NewDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tutServ</servlet-name>
        <servlet-class>tutServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeniorjobServ</servlet-name>
        <servlet-class>SeniorjobServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activeStu</servlet-name>
        <servlet-class>activeStu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeniorEditJob</servlet-name>
        <servlet-class>SeniorEditJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeniornewServ</servlet-name>
        <servlet-class>SeniornewServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeniorEditNews</servlet-name>
        <servlet-class>SeniorEditNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeniorNewsDel</servlet-name>
        <servlet-class>SeniorNewsDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeniorprojectServ</servlet-name>
        <servlet-class>SeniorprojectServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeniorProjectDel</servlet-name>
        <servlet-class>SeniorProjectDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeniorEditProject</servlet-name>
        <servlet-class>SeniorEditProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeniortutServ</servlet-name>
        <servlet-class>SeniortutServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeniorEditTutorial</servlet-name>
        <servlet-class>SeniorEditTutorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeniorTutorialDel</servlet-name>
        <servlet-class>SeniorTutorialDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TutorialDel</servlet-name>
        <servlet-class>TutorialDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeniorgalleryServ</servlet-name>
        <servlet-class>SeniorgalleryServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeniorEditGallery</servlet-name>
        <servlet-class>SeniorEditGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeniorGalleryDel</servlet-name>
        <servlet-class>SeniorGalleryDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GalleryDel</servlet-name>
        <servlet-class>GalleryDel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServ</servlet-name>
        <url-pattern>/loginServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newServ</servlet-name>
        <url-pattern>/newServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subjServ</servlet-name>
        <url-pattern>/subjServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>projectServ</servlet-name>
        <url-pattern>/projectServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGallery</servlet-name>
        <url-pattern>/EditGallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeniorJobDel</servlet-name>
        <url-pattern>/SeniorJobDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaff</servlet-name>
        <url-pattern>/EditStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDel</servlet-name>
        <url-pattern>/StaffDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAlbam</servlet-name>
        <url-pattern>/showAlbam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showGallery</servlet-name>
        <url-pattern>/showGallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>albumServ</servlet-name>
        <url-pattern>/albumServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deptServ</servlet-name>
        <url-pattern>/deptServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadTutServ</servlet-name>
        <url-pattern>/downloadTutServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>picServ</servlet-name>
        <url-pattern>/picServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTutorial</servlet-name>
        <url-pattern>/EditTutorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>galleryServ</servlet-name>
        <url-pattern>/galleryServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDept</servlet-name>
        <url-pattern>/EditDept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeptDel</servlet-name>
        <url-pattern>/DeptDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeptDel1</servlet-name>
        <url-pattern>/DeptDel1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCat</servlet-name>
        <url-pattern>/EditCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatDel</servlet-name>
        <url-pattern>/CatDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowNews</servlet-name>
        <url-pattern>/ShowNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProject</servlet-name>
        <url-pattern>/EditProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectDel</servlet-name>
        <url-pattern>/ProjectDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addjobServ</servlet-name>
        <url-pattern>/addjobServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testsignup</servlet-name>
        <url-pattern>/testsignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eventServ</servlet-name>
        <url-pattern>/eventServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAlbum</servlet-name>
        <url-pattern>/EditAlbum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEvent</servlet-name>
        <url-pattern>/EditEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlbumDel</servlet-name>
        <url-pattern>/AlbumDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventDel</servlet-name>
        <url-pattern>/EventDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadProServ</servlet-name>
        <url-pattern>/downloadProServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditJobs</servlet-name>
        <url-pattern>/EditJobs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDel</servlet-name>
        <url-pattern>/JobDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNews</servlet-name>
        <url-pattern>/EditNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewDel</servlet-name>
        <url-pattern>/NewDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tutServ</servlet-name>
        <url-pattern>/tutServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeniorjobServ</servlet-name>
        <url-pattern>/SeniorjobServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activeStu</servlet-name>
        <url-pattern>/activeStu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeniorEditJob</servlet-name>
        <url-pattern>/SeniorEditJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeniornewServ</servlet-name>
        <url-pattern>/SeniornewServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeniorEditNews</servlet-name>
        <url-pattern>/SeniorEditNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeniorNewsDel</servlet-name>
        <url-pattern>/SeniorNewsDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeniorprojectServ</servlet-name>
        <url-pattern>/SeniorprojectServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeniorProjectDel</servlet-name>
        <url-pattern>/SeniorProjectDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeniorEditProject</servlet-name>
        <url-pattern>/SeniorEditProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeniortutServ</servlet-name>
        <url-pattern>/SeniortutServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeniorEditTutorial</servlet-name>
        <url-pattern>/SeniorEditTutorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeniorTutorialDel</servlet-name>
        <url-pattern>/SeniorTutorialDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TutorialDel</servlet-name>
        <url-pattern>/TutorialDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeniorgalleryServ</servlet-name>
        <url-pattern>/SeniorgalleryServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeniorEditGallery</servlet-name>
        <url-pattern>/SeniorEditGallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeniorGalleryDel</servlet-name>
        <url-pattern>/SeniorGalleryDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GalleryDel</servlet-name>
        <url-pattern>/GalleryDel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
